table.mat-table {
  width: 100%;
  border-spacing: 0 15px;
  border-collapse: separate;
  background-color: rgb(19, 11, 54);
  border-radius: 5px;
  
}

tr.example-detail-row {
  height: 0;
  background-color: black;
}

tr.example-element-row:not(.example-selected-row):hover {
  background-color: rgb(27, 27, 27);
}

tr.example-element-row:not(.example-selected-row):active {
  background-color: black;
}

.example-element-row td {
  background-color: black;
  border-bottom-width: 0;
  color: white;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
